body {
    background-color: lightgrey;
}

/* Single line Notes */
h1 {
    color: blue;
    text-align: center;
}
/* Multi
line 
Notes */

/* style created for the navigation bar */
nav {
    background: lightgoldenrodyellow;
    color: green;
    padding: 10px;
    text-align: center;
     width: 100%;
}

/* Nav Using Unordered list */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    width:  200px;
}

nav ul li a {
    text-decoration: none;
    display: block;
    text-align: center;
    color: white;
    background-color: coral;
    height: 40px;
    line-height: 50px;
}

.test1 {
    background: red;
    position: relative;
    left: 50px; /* This is going to move the test1 box right 50px relative to the parent element position of 0,0. */
    top: 50px; /* This is going to move the test1 box down 50 px relative to the parent element position 0,0*/
}

.test2 {
    background: blue;
    position: fixed;
    left: 50px; /* This is going to move the test1 box right 50px relative to the viewport position of 0,0. */
    top: 50px; /* This is going to move the test1 box down 50 px relative to the viewport position 0,0*/
}

section {
    min-height: 400px;
    border: 1px solid black;
}