body {
    background-color: lightgrey;
}

/* Single line Notes */
h1 {
    color: blue;
    text-align: center;
}
/* Multi
line 
Notes */

/* style created for the navigation bar */
nav {
    background: grey;
    color: blue;
    padding: 10px;
    text-align: center;
}

/* style for images of the pages */
.img {
    text-align: center;
}
/* Style the first paragraph with padding on both sides.  Do not pad the top or bottom. */
p.firstParagraph {
    color: blue;
}
form {
    background-color: grey;
    padding: 10px;
}
div.audio {
    padding: 10px;
    text-align: center;
}
div.media {
    background-color: grey;
    padding: 10px;
    text-align: center;
}
#welcome2css {
    color: red;
    background-color: yellow;
}
.paragraph {
    color: green;
}
.red {
    background-color: red;
    color: white;
}
.blue {
    background-color: blue;
    color: white;
}
.green {
    background-color: green;
    color: white;
}
