body {
    background-color: greenyellow;
}

/* Single line Notes */
h1 {
    color: red;
    text-align: center;
}
/* Multi
line 
Notes */

/* style created for the navigation bar */
nav {
    background: yellow;
    color: red;
    padding: 10px;
    text-align: center;
}

/* style for images of the pages */
.img {
    text-align: center;
}
/* Style the first paragraph with padding on both sides.  Do not pad the top or bottom. */
